{% extends 'core/base.html' %}
{% load static %}

{% block title %}Checkout{% endblock %}

{% block content %}
<!-- Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="{% url 'core:index' %}">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>

<!-- Conteúdo do Checkout -->
<section class="checkout_area section_gap">
    <!-- Seu conteúdo específico do checkout aqui -->
</section>
{% endblock %}