{% load static %}
<header class="header_area sticky-header">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light main_box">
            <div class="container">
                <a class="navbar-brand logo_h" href="{% url 'core:index' %}">
                    <img src="{% static 'core/img/logo.png' %}" alt="">
                    <span>
                        <h2>GearUP</h2>
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% include 'core/components/navbar.html' %}
            </div>
        </nav>
    </div>
</header>
